### Importing Pandas

In [4]:
import numpy as np
import pandas as pd

### Series from lists

In [ ]:
# string
country = ['India','Pakistan','USA','Nepal','Srilanka']

pd.Series(country)

0       India
1    Pakistan
2         USA
3       Nepal
4    Srilanka
dtype: object

In [ ]:
# integers
runs = [13,24,56,78,100]

runs_ser = pd.Series(runs)

In [ ]:
# custom index
marks = [67,57,89,100]
subjects = ['maths','english','science','hindi']

pd.Series(marks,index=subjects)

maths       67
english     57
science     89
hindi      100
dtype: int64

In [ ]:
# setting a name
marks = pd.Series(marks,index=subjects,name='Nitish ke marks')
marks

maths       67
english     57
science     89
hindi      100
Name: Nitish ke marks, dtype: int64

### Series from dict

In [ ]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks,name='nitish ke marks')
marks_series

maths       67
english     57
science     89
hindi      100
Name: nitish ke marks, dtype: int64

### Series Attributes

In [ ]:
# size
marks_series.size

4

In [ ]:
# dtype
marks_series.dtype

dtype('int64')

In [ ]:
# name
marks_series.name

'nitish ke marks'

In [ ]:
# is_unique
marks_series.is_unique

pd.Series([1,1,2,3,4,5]).is_unique

False

In [ ]:
# index
marks_series.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [ ]:
runs_ser.index

RangeIndex(start=0, stop=5, step=1)

In [ ]:
# values
marks_series.values

array([ 67,  57,  89, 100])

### Series using read_csv

In [6]:
# with one col
subs = pd.read_csv(r'C:\Users\mehta\OneDrive - MSFT\MyCodes\Python-Practice\CSV\subs.csv')
subs

     Subscribers gained
0                    48
1                    57
2                    40
3                    43
4                    44
..                  ...
360                 231
361                 226
362                 155
363                 144
364                 172

[365 rows x 1 columns]

In [9]:
# with 2 cols
vk = pd.read_csv(r'C:\Users\mehta\OneDrive - MSFT\MyCodes\Python-Practice\CSV\kohli_ipl.csv')
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [10]:
movies = pd.read_csv(r'C:\Users\mehta\OneDrive - MSFT\MyCodes\Python-Practice\CSV\bollywood.csv')
movies

                                     movie              lead
0                 Uri: The Surgical Strike     Vicky Kaushal
1                            Battalion 609       Vicky Ahuja
2     The Accidental Prime Minister (film)       Anupam Kher
3                          Why Cheat India     Emraan Hashmi
4                          Evening Shadows  Mona Ambegaonkar
...                                    ...               ...
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
1496                   Aankhen (2002 film)  Amitabh Bachchan
1497                       Saathiya (film)      Vivek Oberoi
1498                        Company (film)        Ajay Devgn
1499                  Awara Paagal Deewana      Akshay Kumar

[1500 rows x 2 columns]

### Series methods

In [11]:
# head and tail
subs.head()

   Subscribers gained
0                  48
1                  57
2                  40
3                  43
4                  44

In [12]:
vk.head(3)

   match_no  runs
0         1     1
1         2    23
2         3    13

In [13]:
vk.tail(10)

     match_no  runs
205       206     0
206       207     0
207       208     9
208       209    58
209       210    30
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

In [14]:
# sample
movies.sample(5)

                        movie           lead
383              Qissa (film)    Irrfan Khan
176              Aa Gaya Hero        Govinda
1220      Aashiq Banaya Aapne  Emraan Hashmi
779             Chillar Party   Aarav Khanna
670   Paan Singh Tomar (film)    Irrfan Khan

In [15]:
# value_counts -> movies
movies.value_counts()

movie                     lead
Andaaz                    Akshay Kumar        2
Tanu Weds Manu: Returns   Kangana Ranaut      2
Gabbar Is Back            Akshay Kumar        2
1920 (film)               Rajniesh Duggall    1
Newton (film)             Rajkummar Rao       1
                                             ..
Ghayal: Once Again        Sunny Deol          1
Ghanchakkar (film)        Vidya Balan         1
Ghajini (2008 film)       Aamir Khan          1
Genius (2018 Hindi film)  Utkarsh Sharma      1
Zor Lagaa Ke...Haiya!     Meghan Jadhav       1
Name: count, Length: 1497, dtype: int64

In [23]:
# sort_values -> inplace
vk.sort_index(ascending=False).head(1).values[0]

array([215,   7], dtype=int64)

In [22]:
vk.sort_index(ascending=False)

     match_no  runs
214       215     7
213       214    25
212       213    73
211       212    20
210       211     0
..        ...   ...
4           5     1
3           4    12
2           3    13
1           2    23
0           1     1

[215 rows x 2 columns]

In [18]:
# sort_index -> inplace -> movies
movies.sort_index(ascending=False,inplace=True)

In [19]:
movies

                                     movie              lead
1499                  Awara Paagal Deewana      Akshay Kumar
1498                        Company (film)        Ajay Devgn
1497                       Saathiya (film)      Vivek Oberoi
1496                   Aankhen (2002 film)  Amitabh Bachchan
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
...                                    ...               ...
4                          Evening Shadows  Mona Ambegaonkar
3                          Why Cheat India     Emraan Hashmi
2     The Accidental Prime Minister (film)       Anupam Kher
1                            Battalion 609       Vicky Ahuja
0                 Uri: The Surgical Strike     Vicky Kaushal

[1500 rows x 2 columns]

In [21]:
vk.sort_index(inplace=True)

In [24]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

### Series Maths Methods

In [25]:
# count
vk.count()

match_no    215
runs        215
dtype: int64

In [26]:
# sum -> product
subs.sum()

Subscribers gained    49510
dtype: int64

In [27]:
# mean -> median -> mode -> std -> var
subs.mean()
print(vk.median())
print(movies.mode())
print(subs.std())
print(vk.var())

match_no    108.0
runs         24.0
dtype: float64
                     movie          lead
0                   Andaaz  Akshay Kumar
1           Gabbar Is Back           NaN
2  Tanu Weds Manu: Returns           NaN
Subscribers gained    62.675023
dtype: float64
match_no    3870.000000
runs         688.002478
dtype: float64

In [28]:
# min/max
subs.max()

Subscribers gained    396
dtype: int64

In [29]:
# describe
subs.describe()

       Subscribers gained
count          365.000000
mean           135.643836
std             62.675023
min             33.000000
25%             88.000000
50%            123.000000
75%            177.000000
max            396.000000

### Series Indexing

In [30]:
# integer indexing
x = pd.Series([12,13,14,35,46,57,58,79,9])
x

0    12
1    13
2    14
3    35
4    46
5    57
6    58
7    79
8     9
dtype: int64

In [31]:
# negative indexing
x[-1]

KeyError: -1

In [32]:
movies

                                     movie              lead
1499                  Awara Paagal Deewana      Akshay Kumar
1498                        Company (film)        Ajay Devgn
1497                       Saathiya (film)      Vivek Oberoi
1496                   Aankhen (2002 film)  Amitabh Bachchan
1495                Hum Tumhare Hain Sanam    Shah Rukh Khan
...                                    ...               ...
4                          Evening Shadows  Mona Ambegaonkar
3                          Why Cheat India     Emraan Hashmi
2     The Accidental Prime Minister (film)       Anupam Kher
1                            Battalion 609       Vicky Ahuja
0                 Uri: The Surgical Strike     Vicky Kaushal

[1500 rows x 2 columns]

In [33]:
vk[-1]

KeyError: -1

In [34]:
marks_series[-1]

NameError: name 'marks_series' is not defined

In [35]:
# slicing
vk[5:16]

    match_no  runs
5          6     9
6          7    34
7          8     0
8          9    21
9         10     3
10        11    10
11        12    38
12        13     3
13        14    11
14        15    50
15        16     2

In [36]:
# negative slicing
vk[-5:]

     match_no  runs
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

In [37]:
movies[::2]

                         movie                  lead
1499      Awara Paagal Deewana          Akshay Kumar
1497           Saathiya (film)          Vivek Oberoi
1495    Hum Tumhare Hain Sanam        Shah Rukh Khan
1493  Devdas (2002 Hindi film)        Shah Rukh Khan
1491        Zameen (2003 film)            Ajay Devgn
...                        ...                   ...
9             Thackeray (film)   Nawazuddin Siddiqui
7                   Bombairiya          Radhika Apte
5                  Soni (film)  Geetika Vidya Ohlyan
3              Why Cheat India         Emraan Hashmi
1                Battalion 609           Vicky Ahuja

[750 rows x 2 columns]

In [38]:
# fancy indexing
vk[[1,3,4,5]]

KeyError: "None of [Index([1, 3, 4, 5], dtype='int32')] are in the [columns]"

In [39]:
# indexing with labels -> fancy indexing
movies['2 States (2014 film)']

KeyError: '2 States (2014 film)'